version: '2'

services:
  ldap:
    image: osixia/openldap:1.1.9
    environment:
      # To debug slapd configuration:
      # LDAP_LOG_LEVEL: 33768
      LDAP_DOMAIN: ldap.ldap2pg.docker
      LDAP_ADMIN_PASSWORD: integral
      LDAP_CONFIG_PASSWORD: territorial
      LDAP_TLS_VERIFY_CLIENT: try
    volumes:
    - ./fixtures/openldap-config.ldif:/container/service/slapd/assets/config/bootstrap/ldif/90-config.ldif
    - ./fixtures/openldap-data.ldif:/container/service/slapd/assets/config/bootstrap/ldif/95-data.ldif
    hostname: ldap.ldap2pg.docker
    domainname: ldap.ldap2pg.docker
    command: [--copy-service, --loglevel, debug]
    labels:
      com.dnsdock.alias: ldap.ldap2pg.docker

  postgres:
    image: postgres:10
    volumes:
    - ./fixtures/postgres.sh:/docker-entrypoint-initdb.d/fixture.sh
    labels:
      com.dnsdock.alias: postgres.ldap2pg.docker
