version: 2.1

workflows:
  version: 2
  default:
    jobs:
    - build:
        name: "stage0-build"
    - lint:
        name: "stage0-lint"
    - e2e:
        name: "stage1-e2e-rockylinux9-pg18"
        dist: rockylinux9
        requires: [stage0-build]
        pgversion: "18"
    - e2e:
        name: "stage1-e2e-rockylinux8-pg16"
        dist: rockylinux8
        requires: [stage0-build]
        pgversion: "16"
    - e2e:
        name: "stage1-e2e-centos7-pg13"
        dist: centos7
        requires: [stage0-build]
        pgversion: "13"
    - e2e:
        name: "stage1-e2e-centos6-pg9.5"
        dist: centos6
        requires: [stage0-build]
        pgversion: "9.5"
    - release:
        name: stage2-release
        # Send secrets to this jobs from temboard CircleCI context.
        context: ldap2pg
        filters:
          tags:
            only: '/v.+/'
          # Skip on branches!
          branches:
            ignore: '/.*/'


jobs:
  build:
    working_directory: &workspace /workspace
    docker:
    - image: goreleaser/goreleaser:v2.8.2
    steps:
    - checkout
    - restore_cache:
        keys: [go-build]
    - run:
        name: Build ldap2pg binary snapshot
        command: |
          goreleaser build --clean --snapshot --single-target
    - run:
        name: Smoke test
        command: dist/ldap2pg_linux_amd64_v1/ldap2pg --version
    - run:
        name: Unit Test
        command: |
          go test -v ./...
    - save_cache:
        key: go-build-{{ checksum "go.mod" }}
        paths:
        - /go/pkg/mod
        - /root/.cache/go-build
    - store_artifacts:
        path: /workspace/dist/
    - persist_to_workspace:
        root: .
        paths: [dist/]

  lint:
    working_directory: *workspace
    docker:
    - image: golangci/golangci-lint:v2.5.0
    steps:
    - checkout
    - restore_cache:
        keys: [ldap2pg-go-lint]
    - run:
        name: Lint
        command: |
          golangci-lint run
    - save_cache:
        key: go-lint-{{ checksum "go.mod" }}
        paths:
        - /root/.cache/golangci-lint
        - /root/.cache/go-build
        - /go/pkg/mod

  e2e:
    parameters:
      dist:
        description: "Distribution."
        type: string
      pgversion:
        description: "Major dotted version of PostgreSQL."
        type: string
    machine:
      image: ubuntu-2204:2024.01.2
      resource_class: medium
    working_directory: /home/circleci/workspace
    steps:
    - checkout
    - attach_workspace:
        at: /home/circleci/workspace
    - run:
        name: Run Docker Compose
        environment:
          PGVERSION: "<< parameters.pgversion >>"
          DIST: "<< parameters.dist >>"
        command: |
          COMPOSE_FILE=docker-compose.yml:test/docker-compose.yml docker compose up --exit-code-from=test

  release:
    # Configure secrets of this job in ldap2pg CircleCI context.
    docker: [{image: goreleaser/goreleaser:v2.9.0}]
    working_directory: *workspace
    steps:
    - checkout
    - restore_cache:
        keys: [go-build]
    - run:
        name: GoReleaser
        command: goreleaser release --clean
