version: 2

.install_reqs: &install_reqs
  run:
    name: Install requirements
    command: |
      sudo apt-get install -y libldap2-dev libsasl2-dev
      sudo pip install wheel virtualenv
      virtualenv .venv/
      . .venv/bin/activate
      pip install -U -r requirements-ci.txt -e .

.rpm_tpl: &rpm_tpl
  working_directory: /tmp/ldap2pg
  steps:
  - checkout
  - run: ./packaging/build_rpm.sh
  - persist_to_workspace:
      root: /tmp/ldap2pg
      paths: ["dist/"]
  - store_artifacts:
      path: /tmp/ldap2pg/dist/

.unit_tpl: &unit_tpl
  working_directory: ~/ldap2pg
  steps:
  - checkout
  - restore_cache:
      keys: [ldap2pg]
  - <<: *install_reqs
  - save_cache:
      key: ldap2pg
      paths:
      - "~/.cache/pip/"
      - ".venv"
  - run:
      name: Python tests
      command: |
        . .venv/bin/activate
        sort --check .gitignore
        flake8 . tests/*/
        pytest tests/unit/
        codecov

jobs:
  0-docs:
    docker: [{image: "circleci/python:3.4"}]
    working_directory: ~/ldap2pg
    steps:
    - checkout
    - restore_cache:
        keys: [ldap2pg]
    - <<: *install_reqs
    - save_cache:
        key: ldap2pg
        paths:
        - "~/.cache/pip/"
        - ".venv"
    - run: |
        . .venv/bin/activate
        python setup.py --long-description | rst2html.py --strict >/dev/null
        mkdocs build --clean --strict

  0-unit-py27:
    <<: *unit_tpl
    docker: [{image: "circleci/python:2.7"}]

  0-unit-py34:
    <<: *unit_tpl
    docker: [{image: "circleci/python:3.4"}]

  0-rpm-centos6:
    <<: *rpm_tpl
    docker: [{image: "centos:6"}]

  0-rpm-centos7:
    <<: *rpm_tpl
    docker: [{image: "centos:7"}]

  1-func-centos6:
    working_directory: /tmp/ldap2pg
    docker:
      - image: centos:6
      - image: osixia/openldap@sha256:443571790e7db8dd7072d31003089fbec1acf490340173c34a39cd6f4aa345e5
        environment:
          LDAP_DOMAIN: ldap.ldap2pg.docker
          LDAP_ADMIN_PASSWORD: communication
          LDAP_CONFIG_PASSWORD: communication
          LDAP_TLS_VERIFY_CLIENT: try
      - image: postgres:10
        environment:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: communication
    steps:
    - checkout
    - attach_workspace:
        at: /tmp/ldap2pg/
    - run:
        name: Exécuting functionnal tests
        command: |
          echo 127.0.1.1 ldap.ldap2pg.docker >> /etc/hosts
          export PGHOST=localhost PGUSER=postgres PGPASSWORD=communication
          export LDAPURI=ldaps://ldap.ldap2pg.docker LDAPPASSWORD=communication
          tests/func/entrypoint.sh

  1-func-centos7:
    working_directory: /tmp/ldap2pg
    docker:
      - image: centos:7
      - image: osixia/openldap@sha256:443571790e7db8dd7072d31003089fbec1acf490340173c34a39cd6f4aa345e5
        environment:
          LDAP_DOMAIN: ldap.ldap2pg.docker
          LDAP_ADMIN_PASSWORD: communication
          LDAP_CONFIG_PASSWORD: communication
          LDAP_TLS_VERIFY_CLIENT: try
      - image: postgres:10
        environment:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: communication
    steps:
    - run: yum install -y git ssh
    - checkout
    - run:
        name: Clean checkout from embedded circleci git client
        command: |
          git clean -df
    - attach_workspace:
        at: /tmp/ldap2pg/
    - run:
        name: Exécuting functionnal tests
        command: |
          echo 127.0.1.1 ldap.ldap2pg.docker >> /etc/hosts
          export PGHOST=localhost PGUSER=postgres PGPASSWORD=communication
          export LDAPURI=ldaps://ldap.ldap2pg.docker LDAPPASSWORD=communication
          tests/func/entrypoint.sh

workflows:
  version: 2
  pipeline:
    jobs:
    - 0-docs
    - 0-unit-py27
    - 0-unit-py34
    - 0-rpm-centos6
    - 0-rpm-centos7
    - 1-func-centos6:
        requires: [0-unit-py27, 0-rpm-centos6]
    - 1-func-centos7:
        requires: [0-unit-py27, 0-rpm-centos7]
